@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";


:root {
  --font-dm: 'DM Sans', sans-serif;
  --font-mulish: 'Mulish', sans-serif;
}

.font-mulish {
  font-family: var(--font-mulish);
}

.font-dm {
  font-family: var(--font-dm);
}




.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-top-down {
  animation: upDown 2s ease-out infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
    /* Fixed spelling */
  }

  to {
    /* Changed 'top' to 'to' */
    transform: rotate(360deg);
    /* Fixed spelling */
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(30px);
  }


  100% {
    transform: translateY(0px);
  }
}


@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-360 {
  animation: rotate360 18s linear infinite;
  transform-origin: center;
}

.shape1 {
  position: relative;
}

.shape1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #f4911e;
}


.shape2 {
  position: relative;
}

.shape2::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 2px;
  border-radius: 2px;
  bottom: 17px;
  right: 0;
  background-color: #f4911e;
}

.shape3 {
  position: relative;

}

.shape3::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  margin-left: 5px;
  border-radius: 2px;
  top: 0;
  right: 0;
  background-color: #f4911e;
}